/* .Layout {
    display: grid;
    grid-template-columns: 15% 70% 15%;
    padding: 20px;
    flex: auto;
    flex-flow: wrap;
    text-align: left;
    font-size: 40px;
    color: white;
    background: #020202;
}

button {
    grid-column: 3;
    background: #141414;
    color: white;
}

button:hover{
    cursor: pointer;
    background: #333333;
} */

.logo {
    width: 120px;
    height: 31px;
    background: rgba(255, 255, 255, 0.2);
    margin: 16px 28px 16px 0;
    float: left;
  } 

.header {
    display: flex;
}